* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.backgroundContainer {
  background-image: url("images/england.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  width: 100% ;
  height: 100%;
  transition: background-image .8s;
}

#errorMessageContainer{
  color: white;
  text-align: center;
  width: 45%;
  height: 380px;
  margin: 0 auto;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.4);
}

h1, h2, p {
  font-family: 'Krub', sans-serif;
}

h1 {
  font-size: 85px;
}

 .messageContainer p:hover {
   font-size: 30px;
 }

 .message{
   font-size: 18px;
   margin-top: 10px;
 }

 .buttonReturn{
   position:absolute;
   top:90vh;
   left: calc(50vw - 80px);
   width: 80px;
 }

 button {
   background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white ;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: 'Krub', sans-serif;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-weight: bold;
 }
